@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.mesh-gradient {
  background-color: #f5f7fc;
  background-image:
    radial-gradient(at 0% 0%, hsla(231, 80%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 100% 100%, hsla(225, 60%, 90%, 1) 0, transparent 50%);
}

.hero-text-shadow {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
}
